__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
*.env
*.python-version
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
*.egg
.installed.cfg
*.log
*.swp
*.swo
.coverage
.std.log
**/log/
NimbusLogs/
nimbus.log
.vscode/
.idea/
.history/
.ipynb_checkpoints/
.pytest_cache/
db.sqlite3
config.yaml
rebuild2.sh
NimbusSetting.json
schema.json
.ipynb_aml_checkpoints/
*.amltmp
*.amltemp
.amlignore
